@(add_form: Form[HiveRecord], colony: Colony)
    
@import helper._

@main("Eintrag Stockkarte") {
    <h1>Eintrag Stockkarte</h1>
    @helper.form(routes.HiveRecords.create(colony.id)) {
    <p>
        @inputText(add_form("date"), '_label -> "Datum", 'type -> "date", 'class -> "datepicker")
    </p>
    <p>
        @inputText(add_form("gentleness"), 'type -> "number", 'min -> "0", 'max -> 4, '_label -> "Sanftmut")
    </p>
    <p>
        @checkbox(add_form("swarming"),'_label -> "in Schwarmstimmung")
    </p>
    <p>
        @inputText(add_form("strength"), 'type -> "number", 'min -> "0", 'max -> 10, '_label -> "Stärke")
    </p>
    <p>
        @checkbox(add_form("queen"),'_label -> "Königin?")
    </p>
    <p>
        @checkbox(add_form("eggs"),'_label -> "Eier?")
    </p>
    <p>
        @checkbox(add_form("maggots"),'_label -> "Maden?")
    </p>
    <p>
        @checkbox(add_form("cappedBrood"),'_label -> "verdeckelte Brut?")
    </p>
    <p>
        @checkbox(add_form("queenCells"),'_label -> "Weiselzellen?")
    </p>
    <p>
        @inputText(add_form("feeding"), '_label -> "Futter")
    </p>
    <p>
        @inputText(add_form("varroaCheck"), '_label -> "Varroa-Kontrolle")
    </p>
    <p>
        @inputText(add_form("varroa"), '_label -> "Varroa")
    </p>
    <p>
        @textarea(add_form("comment"),'_label -> "Kommentar")
    </p>
    <p>
        <button type="submit">Speichern</button>
    </p>
    }
    
    <script>
      $(function() {
        $(".datepicker").datepicker();
        $(".datepicker").datepicker("option", "dateFormat", "yy-mm-dd");
      });
    </script>
}