@(record: HiveRecord)
    
@import helper._

@main("Eintrag anzeigen") {
    <h1>Eintrag anzeigen</h1>
    <p class="details">
        <label>Datum: </label>@record.date.format("dd.MM.yyy")<br />
        <label>Sanftmut: </label>@record.gentleness<br />
        <label>Schwarmtrieb: </label>@Html(record.swarmingHtml())<br />
        <label>Stärke: </label>@record.strength<br />
        <label>Königin: </label>@Html(record.queenHtml())<br />
        <label>Eier: </label>@Html(record.eggsHtml())<br />
        <label>Maden: </label>@Html(record.maggotsHtml())<br />
        <label>verdeckelte Brut: </label>@Html(record.cappedBroodHtml())<br />
        <label>Weiselzellen: </label>@Html(record.queenCellsHtml())<br />
        <label>Futter: </label>@record.feeding<br />
        <label>Varroa-Kontrolle: </label>@record.varroaCheck<br />
        <label>Varroa: </label>@record.varroa<br />
        <label>Gewicht: </label>@record.weight<br />
        <label>Kommentar: </label>@record.comment<br />
    </p>
    @if(Util.getUser() != null && Util.getUser().equals(record.user)) {
        <a href="@routes.HiveRecords.edit(record.id)">Bearbeiten</a>
    }
}