@(record: HiveRecord, add_form: Form[HiveRecord], colony: Colony)
    
@import helper._

@main("Eintrag bearbeiten") {
    <h1>Eintrag bearbeiten</h1>
    @helper.form(routes.HiveRecords.update(record.id)) {
    <div class="form_row">
        <div class="left">
            @inputText(add_form("date"), '_label -> "Datum", 'type -> "date", 'class -> "datepicker")
        </div>
        <div class="right">
            @inputText(add_form("gentleness"), 'type -> "number", 'min -> "0", 'max -> 4, '_label -> "Sanftmut")
        </div>
    </div>
    <div class="form_row">
        <div class="left">
            @checkbox(add_form("swarming"),'_label -> "in Schwarmstimmung")
        </div>
        <div class="right">
            @inputText(add_form("strength"), 'type -> "number", 'min -> "0", 'max -> 10, '_label -> "Stärke")
        </div>
    </div>
    <div class="form_row">
        <div class="left">
            @checkbox(add_form("queen"),'_label -> "Königin?")
        </div>
        <div class="right">
            @checkbox(add_form("eggs"),'_label -> "Eier?")
        </div>
    </div>
    <div class="form_row">
        <div class="left">
            @checkbox(add_form("maggots"),'_label -> "Maden?")
        </div>
        <div class="right">
            @checkbox(add_form("cappedBrood"),'_label -> "verdeckelte Brut?")
        </div>
    </div>
    <div class="form_row">
        <div class="left">
            @checkbox(add_form("queenCells"),'_label -> "Weiselzellen?")
        </div>
        <div class="right">
            @inputText(add_form("feeding"), '_label -> "Futter")
        </div>
    </div>
    <div class="form_row">
        <div class="left">
            @inputText(add_form("varroaCheck"), '_label -> "Varroa-Kontrolle")
        </div>
        <div class="right">
            @inputText(add_form("varroa"), '_label -> "Varroa")
        </div>
    </div>
    <div class="form_row">
        @textarea(add_form("comment"),'_label -> "Kommentar")
    </div>
    <div class="form_row">
        <button type="submit">Speichern</button>
    </div>
    }
    
    <script>
      $(function() {
        var $date = $(".datepicker").val();
        $(".datepicker").datepicker();
        $(".datepicker").datepicker("option", "dateFormat", "yy-mm-dd").datepicker("setDate", $date);
      });
    </script>
}