@(colonies: List[Colony])

@main("Übersicht Deiner Völker") {
    <table class="table">
        <thead>
            <tr>
                <th>Bezeichnung</th>
                <th>Letzter Eintrag</th>
                <th>Gewicht</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @for(colony <- colonies) {
            <tr>
                <td><a href="@routes.HiveRecords.show(colony.id)">@if(colony.hiveNumber.size > 0) {#@colony.hiveNumber} @colony.name</a></td>
                <td>@colony.getLastEntryDate()</td>
                <td>@colony.getLastEntryWeight()</td>
                <td>
                    <a href="@routes.HiveRecords.show(colony.id)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </td>
            </tr>
    }
        </tbody>
    </table>
    <a href="@routes.Colonies.add">Neues Volk anlegen</a>
}