@(colony: Colony, records: List[HiveRecord])

@main("Stockkarte " + colony) {
    <table class="table">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Sanftmut</th>
                <th>Schwarmstimmung</th>
                <th>Stärke</th>
                <th>Königin?</th>
                <th>Eier?</th>
                <th>Maden?</th>
                <th>verdeckelte Brut</th>
                <th>Weiselzellen</th>
                <th>Futter</th>
                <th>Varroa-Kontrolle</th>
                <th>Varroa</th>
                <th>Gewicht</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @for(record <- records) {
            <tr>
                <td>@if(record.date != null) { @record.date.format("dd.MM.yyy") }</td>
                <td>@record.gentleness</td>
                <td>@Html(record.swarmingHtml())</td>
                <td>@record.strength</td>
                <td>@Html(record.queenHtml())</td>
                <td>@Html(record.eggsHtml())</td>
                <td>@Html(record.maggotsHtml())</td>
                <td>@Html(record.cappedBroodHtml())</td>
                <td>@Html(record.queenCellsHtml())</td>
                <td>@record.feeding</td>
                <td>@record.varroaCheck</td>
                <td>@record.varroa</td>
                <td>@record.weight</td>
                <td>
                    <a href="@routes.Application.recordDetail(record.id)">
                        <i class="glyphicon glyphicon-zoom-in"></i>
                    </a>
                </td>
                <td>
                    <a href="@routes.HiveRecords.edit(record.id)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="@routes.HiveRecords.delete(record.id)">
                        <i class="del glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
    }
        </tbody>
    </table>
    <a href="@routes.HiveRecords.add(colony.id)">Neuen Eintrag anlegen</a>
}