    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="author" content="@play.Play.application().configuration().getString("owner.name")">
    <meta name="publisher" content="@play.Play.application().configuration().getString("owner.name")">
    <meta name="description" content="Online Stockkarte für Hobbyimker und Freizeitimker">
    <meta name="keywords" content="online stockkarte, estockkarte, stockkartenapp, stockkartensoftware, stockkartenanwendung, stockkartenprogramm, imkersoftware, imkerapp, qrcode">
    <meta name="robots" content="index, follow">