@(add_form: Form[Colony], hives: List[Hive], colors: List[QueenColor], races: List[Race])
    
@import helper._

@main("Volk anlegen") {
    <h1>Volk anlegen</h1>
    @helper.form(routes.Colonies.create) {
    <p>
        @inputText(add_form("name"), '_label -> "Name")
    </p>
    <p>
        @inputText(add_form("hiveNumber"), '_label -> "Nummer")
    </p>
    <p>
        @select(
            field = add_form("race.id"),
            options = races.map(race => race.id.toString -> race.name),
            '_default -> "Bitte wählen",
            '_label -> "Rasse"
        )
    </p>
    <p>
        @inputText(add_form("queen"), '_label -> "Königin")
    </p>
    <p>
        @select(
            field = add_form("queenColor"),
            options = colors.map(color => color.number.toString -> color.name),
            '_default -> Seq("nicht gezeichnet"),
            '_label -> "Zeichenfarbe"
        )
    </p>
    <p>
        @inputText(add_form("queenIdent"), '_label -> "Zeichennummer"
        )
    </p>
    <p>
        @select(
            field = add_form("hive.id"),
            options = hives.map(hive => hive.id.toString -> hive.name),
            '_default -> "Bitte wählen",
            '_label -> "Beutentyp"
        )
    </p>
    <p>
        @textarea(add_form("comment"),'_label -> "Kommentar")
    </p>
    <p>
        @checkbox(add_form("visible"),'_label -> "öffentlich")
    </p>
    <p>
        <button type="submit">Speichern</button>
    </p>
    }
}