@(add_form: Form[Colony], hives: List[Hive], colors: List[QueenColor])
    
@import helper._

@main("Volk anlegen") {
    <h1>Registrieren</h1>
    @helper.form(routes.Colonies.create) {
    <p>
        @inputText(add_form("name"))
    </p>
    <p>
        @inputText(add_form("race"))
    </p>
    <p>
        @inputText(add_form("queen"))
    </p>
    <p>
        @select(
            field = add_form("queenColor"),
            options = colors.map(color => color.number.toString -> color.name),
            '_default -> Seq("nicht gezeichnet")
        )
    </p>
    <p>
        @inputText(add_form("queenIdent"))
    </p>
    <p>
        @select(
            field = add_form("hive.id"),
            options = hives.map(hive => hive.id.toString -> hive.name),
            '_default -> "Bitte wählen"
        )
    </p>
    <p>
        @textarea(add_form("comment"))
    </p>
    <p>
        @checkbox(add_form("visible"))
    </p>
    <p>
        <button type="submit">Speichern</button>
    </p>
    }
}