@(colony: Colony, add_form: Form[Colony], hives: List[Hive], colors: List[QueenColor], races: List[Race], stands: List[Stand])
    
@import helper._

@main("Volk bearbeiten") {
    <h1>Volk bearbeiten</h1>
    @helper.form(routes.Colonies.update(colony.id)) {
    <div class="form_row">
        <div class="left">
            @inputText(add_form("name"), '_label -> "Name")
        </div>
        <div class="right">
            @inputText(add_form("hiveNumber"), '_label -> "Nummer")
        </div>
    </div>
    <div class="form_row">
        <div class="left">
            @select(
                field = add_form("race.id"),
                options = races.map(race => race.id.toString -> race.name),
                '_default -> "Bitte wählen",
                '_label -> "Rasse"
            )
        </div>
        <div class="right">
            @inputText(add_form("queen"), '_label -> "Königin")
        </div>
    </div>
    <div class="form_row">
        <div class="left">
            @select(
                field = add_form("queenColor"),
                options = colors.map(color => color.number.toString -> color.name),
                '_default -> Seq("nicht gezeichnet"),
                '_label -> "Zeichenfarbe"
            )
        </div>
        <div class="right"
            @inputText(add_form("queenIdent"), '_label -> "Zeichennummer")
        </div>
    </div>
    <div class="form_row">
        <div class="left">
            @select(
                field = add_form("hive.id"),
                options = hives.map(hive => hive.id.toString -> hive.name),
                '_default -> "Bitte wählen",
                '_label -> "Beutentyp"
            )
        </div>
        <div class="right">
            @textarea(add_form("comment"),'_label -> "Kommentar")
        </div>
    </div>
    <div class="form_row">
        <div class="left">
            @checkbox(add_form("visible"),'_label -> "öffentlich")
        </div>
        <div class="right">
            @select(
                field = add_form("stand.id"),
                options = stands.map(stand => stand.id.toString -> stand.name),
                '_default -> "Bitte wählen",
                '_label -> "Bienenstand"
            )
        </div>
    </div>
    <div class="form_row">
        <button type="submit">Speichern</button>
    </div>
    }
    <a href="@routes.Colonies.inscription(colony.id)"><img src="@routes.Colonies.showQRCode(colony.shortUrl)" alt="QRCode" /></a>
}