@(colonies: List[Colony])

@main("Übersicht Deiner Völker") {
    <table class="table">
        <thead>
            <tr>
                <th>Bezeichnung</th>
                <th>Nummer</th>
                <th>Rasse</th>
                <th>Königin</th>
                <th>Zeichnungsfarbe</th>
                <th>Zeichennummer</th>
                <th>Beutenart</th>
                <th>Kommentar</th>
                <th>öffentlich sichtbar</th>
                <th>Anzeigen</th>
                <th>Bearbeiten</th>
                <th>Löschen</th>
            </tr>
        </thead>
        <tbody>
    @for(colony <- colonies) {
            <tr>
                <td>@colony.name</td>
                <td>@colony.hiveNumber</td>
                <td>@colony.race</td>
                <td>@colony.queen</td>
                <td>@colony.getQueenColorString()</td>
                <td>@colony.queenIdent</td>
                <td>@colony.hive</td>
                <td>@colony.comment</td>
                <td>@Html(colony.visibleHtml())</td>
                <td>
                    <a href="@routes.Application.colonyDetail(colony.id)">
                        <i class="glyphicon glyphicon-zoom-in"></i>
                    </a>
                </td>
                <td>
                    <a href="@routes.Colonies.edit(colony.id)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="@routes.Colonies.delete(colony.id)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
    }
        </tbody>
    </table>
    <a href="@routes.Colonies.add">Neues Volk anlegen</a>
}