@(add_form: Form[Stand])
    
@import helper._

@main("Volk anlegen") {
    <h1>Volk anlegen</h1>
    @helper.form(routes.Stands.create) {
    <div class="form_row">
        @inputText(add_form("name"), '_label -> "Name")
    </div>
    <div class="form_row">
        @inputText(add_form("street"), '_label -> "Straße")
    </div>
    <div class="form_row">
        @inputText(add_form("zipCode"), '_label -> "Postleitzahl")
    </div>
    <div class="form_row">
        @inputText(add_form("city"), '_label -> "Ort"
        )
    </div>
    <div class="form_row">
        <button type="submit">Speichern</button>
    </div>
    }
}