@(change_password_form: Form[Application.ChangePassword])
    
@import helper._

@main("Passwort ändern") {
    @helper.form(routes.Application.changePassword) {
    <h1>Passwort ändern</h1>
    
    @if(flash.contains("success")) {
    <p class="success">
        @flash.get("success")
    </p>
    }
    
    @if(change_password_form.hasGlobalErrors) {
    <ul class="error">
        @if(change_password_form.globalErrors.size() > 0) {
            @for(error <- change_password_form.globalErrors) {
                <li>@error.message().toString()</li>
            }
        }
    </ul>
    }
    
    <p>
        @inputPassword(change_password_form("password"), '_label -> "Passwort", '_showConstraints -> false, 'placeholder -> "Passwort")
    </p>
    <p>
        @inputPassword(change_password_form("confirmPassword"), '_label -> "Passwort wiederholen", '_showConstraints -> false, 'placeholder -> "Passwort wiederholen")
    </p>
    <p>
        <button type="submit">Passwort ändern</button>
    </p>
    }
}