@(user_form: Form[User])
    
@import helper._

@main("Benutzerprofil eStockkarte") {
    @if(flash.contains("success")) {
    <p class="success">
        @flash.get("success")
    </p>
    }
    
    @helper.form(routes.Application.userEdit) {
    <h1>Profil</h1>
    
    <a href="@routes.Application.password">Passwort ändern</a>
    
    <p>
        @inputText(user_form("name"), '_label -> "Name*", '_showConstraints -> false)
    </p>
    <p>
        @inputText(user_form("firstName"), '_label -> "Vorname")
    </p>
    <p>
        @inputText(user_form("lastName"), '_label -> "Nachname")
    </p>
    <p>
        @inputText(user_form("street"), '_label -> "Straße")
    </p>
    <p>
        @inputText(user_form("zipCode"), '_label -> "Postleitzahl")
    </p>
    <p>
        @inputText(user_form("city"), '_label -> "Ort")
    </p>
    <p>
        @inputText(user_form("email"), '_label -> "E-Mail", '_showConstraints -> false)
    </p>
    <p>
        @inputText(user_form("telephone"), '_label -> "Telefon")
    </p>
    <p>
        @inputText(user_form("registrationNumber"), '_label -> "Registriernummer")
    </p>
    <p>
        <button type="submit">Speichern</button>
    </p>
    }
}